#users-list {
  h4 > a.create_user {
    float: right;
    font-size: 16px;
    text-decoration: none;
    margin: 5px 5px 0 0;
  }
}

#users-edit {
  .user-card {
    width: 70%;
    margin: 0 auto;
    background-color: #f5f5f5;
  }
}
