<div id="app" class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-expand-xl navbar-dark bg-danger fixed-top">
    <a class="navbar-brand" href="javascript:void(0)">
      <i class="fa fa-globe" aria-hidden="true"></i> Angular News
    </a>
    <div class="navbar-collapse collapse" id="navbarNav" *ngIf="authorized">
      <ul class="nav navbar-nav justify-content-start">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="/news" routerLinkActive="active"><i class="fa fa-newspaper-o fa-lg" aria-hidden="true"></i> Новости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="/users" routerLinkActive="active"><i class="fa fa-users fa-lg" aria-hidden="true"></i> Пользователи</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="signOut()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Выход</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<footer>Angular 5 Example Application, &copy; 2017</footer>
